<ion-header>
  <ion-navbar class="navbar-white shadow-medium">
    <button ion-button icon-only menuToggle>
      <img src="assets/img-icons/menu.png">
    </button>
    <ion-buttons end>
      <!--<button ion-button icon-only class="mr40">-->
        <!--<img src="assets/img-icons/notification.png">-->
        <!--<span class="badge-small bg-standard abs-tr"></span>-->
      <!--</button>-->
      <!--<button ion-button icon-only class="mr10">-->
        <!--<img src="assets/img-icons/globe-earth.png">-->
        <!--<span class="badge-small bg-accent abs-tr"></span>-->
      <!--</button>-->
      <!--<button ion-button icon-only class="mr40">-->
        <!--<img src="assets/img-icons/mail-filter-2.png">-->
      <!--</button>-->
      <!--<button ion-button icon-only>-->
        <!--<img src="assets/img/member1.jpg" class="full-height round">-->
      <!--</button>-->
      <button ion-button icon-only class="mr40" [navPush]="actFormPage">
        <img src="assets/img-icons/ok.png">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col col-12 col-sm-12>
        <div class="round-smallest img-cover relative" style="background:url(assets/img/dashboard-state-1.jpg) no-repeat center center">
          <div class="absolute full gradient-red-blue-2 op7"></div>
          <div class="relative p30 z-hi">
            <div class="abs-tl p30">
              <img src="assets/img-icons/speech-bubble-w.png" title="Icon" class="pr10">
              <img src="assets/img-icons/heart-w.png" title="Icon" class="pr10">
            </div>
            <div class="abs-tr bg-dark badge-inside-small m30">secure</div>
            <p class="pt120 m0 text-white font-12 up">Last sex 2 days ago</p>
            <!--<h4 class="text-white m0 pr50 fw300">You want sex.</h4>-->

            <!--<div class="skills pb20">-->
              <!--<div class="skill relative">-->
                <!--<ion-range disabled="true" max="100" min="0" pin="true" class="range range-md range-disabled range-has-pin ng-untouched ng-pristine"><div class="range-slider">&lt;!&ndash;&ndash;&gt;<div class="range-bar" role="presentation"></div><div class="range-bar range-bar-active" role="presentation" style="right: 5%;"></div><div class="range-knob-handle" role="slider" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" aria-disabled="true" tabindex="-1" style="left: 95%;">&lt;!&ndash;&ndash;&gt;<div class="range-pin" role="presentation">95</div><div class="range-knob" role="presentation"></div></div>&lt;!&ndash;&ndash;&gt;</div></ion-range>-->
                <!--<span>Desire level</span>-->
              <!--</div>-->
            <!--</div>-->

          </div>
        </div>
      </ion-col>

      <!--<ion-col col-12 col-sm-12>-->
        <!--<div class="round-smallest img-cover relative" style="background:url(assets/img/home-admin1.jpg) no-repeat center center">-->
          <!--<div class="absolute full gradient-red-blue-2 op9"></div>-->
          <!--<div class="relative p30 z-hi">-->
            <!--<div class="abs-tl p30">-->
              <!--<img src="assets/img-icons/speech-bubble-w.png" title="Icon" class="pr10">-->
              <!--<img src="assets/img-icons/heart-w.png" title="Icon" class="pr10">-->
            <!--</div>-->
            <!--<div class="abs-tr bg-accent badge-inside-small m30">secure</div>-->
            <!--<p class="pt120 m0 text-white font-12 up">24 Dec in News</p>-->
            <!--<h4 class="text-white m0 pr50 fw300">Designed to fulfill your desires.</h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-col>-->
      <ion-col col-6 col-sm-4>
        <div class="bg-white round-smallest shadow-small border relative">
          <div class="abs-tr p10">
            <img src="assets/img-icons/user-account.png" title="Icon">
          </div>
          <div class="relative p10 z-hi">
            <p class="pt70 text-dark font-12 up">users this month</p>
            <h6 class="m0 text-dark m0 fw300">3,250 <img src="assets/img-icons/up-2-filled.png" title="Icon"></h6>
            <h6 class="m0 op7 up font-9">2,200 nov</h6>
          </div>
        </div>
      </ion-col>
      <ion-col col-6 col-sm-4>
        <div class="bg-white round-smallest shadow-small border relative">
          <div class="abs-tr p10">
            <img src="assets/img-icons/combo-chart.png" title="Icon">
          </div>
          <div class="relative p10 z-hi">
            <p class="pt70 text-dark font-12 up">sales last month</p>
            <h6 class="m0 text-dark m0 fw300">US $9,250 <img src="assets/img-icons/downward-arrow-filled.png" title="Icon"></h6>
            <h6 class="m0 op7 up font-9">$11,700 nov</h6>
          </div>
        </div>
      </ion-col>
      <ion-col col-12 col-sm-4>
        <div class="bg-white round-smallest shadow-small border relative">
          <div class="abs-tr p10">
            <img src="assets/img-icons/rss.png" title="Icon">
          </div>
          <div class="relative p10 z-hi">
            <p class="pt70 m0 text-dark font-12 up">24 Dec in News</p>
            <h6 class="text-dark m0 fw300">Designed to fulfill yours.</h6>
          </div>
        </div>
      </ion-col>
      <!--<ion-col col-12 col-sm-12>-->
        <!--<div class="gradient-blue-yellow round-smallest relative">-->
          <!--<div class="img-cover absolute full" style="background:url(assets/img/home-admin-product.png) no-repeat center center">-->
          <!--</div>-->
          <!--<div class="relative p30 z-hi">-->
            <!--<div class="abs-tl p30">-->
              <!--<img src="assets/img-icons/speech-bubble.png" title="Icon" class="pr10">-->
              <!--<img src="assets/img-icons/heart.png" title="Icon" class="pr10">-->
            <!--</div>-->
            <!--<div class="abs-tr bg-standard badge-inside-small m30">bestseller</div>-->
            <!--<p class="pt120 m0 text-dark font-12 up">Proud to present</p>-->
            <!--<h4 class="text-dark m0 fw300">Awesome car.</h4>-->
          <!--</div>-->
        <!--</div>-->
      <!--</ion-col>-->
      <ion-col col-12 col-sm-12>
        <!--<p>https://freshdesignweb.com/jquery-css3-animation/</p>-->
        <!--<p>https://bashooka.com/coding/40-cool-css-animation-examples/</p>-->

        <div class="stage">
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
          <div class="layer"></div>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
