<ion-header>
  <ion-navbar class="navbar-white shadow-medium">
    <button ion-button icon-only menuToggle>
      <img src="assets/img-icons/menu.png">
    </button>
    <p class="font-30 fw900 abs-tr m0 pr10 text-dark">revo</p>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- Form -->
    <div class="p20 center">
      <h4 class="up mb0">Запись</h4>
      <div class="bg-standard pt1 plr30 inline mt0"></div>

      <div class="ptb20">
        <!--<h6 class="text-left">Fill Form</h6>-->
        <!--<p class="text-left mb20">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium</p>-->
        <p class="text-left mb20">Просто сохраните "событие" или добавьте больше деталей</p>

        <div class="box-form-fill">
          <!--<ion-input class="form-fill font-16 text-dark mb10 ptb10 plr20" type="text" placeholder="Username"></ion-input>-->
          <!--<ion-list class="mb10">-->
            <!--<ion-item class="form-fill bg-light font-16 text-dark no-border pl25">-->
              <!--<ion-label class="text-dark">Department</ion-label>-->
              <!--<ion-select [(ngModel)]="gaming" class="pr20">-->
                <!--<ion-option value="nes">IT</ion-option>-->
                <!--<ion-option value="n64">Marketing</ion-option>-->
                <!--<ion-option value="ps">HR</ion-option>-->
              <!--</ion-select>-->
            <!--</ion-item>-->
          <!--</ion-list>-->
          <ion-item class="form-fill bg-light font-16 mb10 pl25">
            <ion-label class="text-dark">Date</ion-label>
            <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
          </ion-item>
          <!--<ion-item class="form-fill bg-light font-16 mb10 pl25">-->
            <!--<ion-label>Check me</ion-label>-->
            <!--<ion-checkbox checked="flash" [(ngModel)]="myCheck"></ion-checkbox>-->
          <!--</ion-item>-->
          <!--<ion-item>-->
            <!--<ion-range min="-200" max="200" pin="true" [(ngModel)]="contrast" color="secondary">-->
              <!--<img src="assets/img-icons/text-color.png" range-left>-->
              <!--<img src="assets/img-icons/text-color-2.png" range-right>-->
            <!--</ion-range>-->
          <!--</ion-item>-->
          <textarea class="form-fill font-16 text-dark ptb10 plr20" rows="2" type="text" placeholder="Message..."></textarea>
        </div>
      </div>

    </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <button ion-button class="col up text-white bg-standard font-16 c-btn-fill c-btn-big">Save Act</button>
  </ion-toolbar>
</ion-footer>

<!--<ion-footer>-->
  <!--<ion-tabs tabs-only tabsLayout="icon-start" tabsplacement="bottom" color="dark">-->
    <!--<ion-tab tabTitle="Recents" tabIcon="call" [root]="root" tabBadge="1" tabBadgeStyle="danger"></ion-tab>-->
    <!--<ion-tab tabTitle="Favorites" tabIcon="heart" [root]="root"></ion-tab>-->
    <!--<ion-tab tabTitle="Settings" tabIcon="settings" [root]="root"></ion-tab>-->
  <!--</ion-tabs>-->
<!--</ion-footer>-->